<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="histMapper">


	<insert id="insertHist">
	INSERT INTO user_hist(user_id,user_name,action)VALUES(#{user_id},#{user_name},#{action})	
	</insert>


</mapper>