<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	
	<insert id="insert" parameterType="com.eduDashboardProject.member.vo.MemberVO">
		INSERT INTO member(id, pwd, name)
		VALUES(#{id}, #{pwd}, #{name})
	</insert>
	
	<select id="login" resultType="com.eduDashboardProject.member.vo.MemberVO">
		SELECT id
			 , name
			 , pwd
		  FROM member
		 WHERE id = #{id}
		   AND pwd = #{pwd}
	</select>
	
</mapper>