<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberInfoMapper">





	<insert id="insert" parameterType="com.eduDashboardProject.member.vo.MemberInfoVO">

		INSERT INTO member_info(mno,birth,email,job)
		VALUES(#{mno},#{birth},#{email},#{job})

	</insert>

	<select id="read" parameterType="com.eduDashboardProject.member.vo.MemberVO"	resultType="com.eduDashboardProject.member.vo.MemberInfoVO">

		SELECT m.name,m.id,i.email,i.birth,i.job
		FROM member m, member_info i
		where m.mno = #{mno}
		AND m.mno = i.mno

	</select>

<update id="update" parameterType="com.eduDashboardProject.member.vo.MemberVO">
    
        <selectKey resultType="com.eduDashboardProject.member.vo.MemberInfoVO" keyProperty="mno" order="AFTER" >

            SELECT m.name,m.id,i.email,i.birth,i.job
            FROM member m, member_info i
            where m.mno = #{mno}
            AND m.mno = i.mno

        </selectKey>

        UPDATE member_info
        SET
        birth = #{birth},
        email = #{email},
        job = #{job}
        WHERE mno = #{mno}


</update> 












</mapper>